<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Using Solar Power To Save Lives</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <environment include="Development">
        <!--[if lte IE 8]><script src="~/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="false" />
        <!--[if lte IE 9]><link rel="stylesheet" href="~/css/ie9.css asp-append-version="false" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="~/css/ie8.css asp-append-version="false" /><![endif]-->
    </environment>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <div id="main">


            <div class="inner">
                <!--  Header -->
                @Html.Partial("~/Views/Shared/_Header.cshtml")

                @RenderBody()
                <hr />
                <!--  Footer -->
                @Html.Partial("~/Views/Shared/_Footer.cshtml")

            </div>

        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Homepage</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="QuickStart">Help! A storm is coming!</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="QuickStart">Help! We don't have clean water!</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="QuickStart">Help! We can't cook our meals!</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="LearnMore">Learn More</a></li>
                        <li>
                            <span class="opener">Solar Calculators</span>
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="ParabolicSolarCookerCalculator">Basic Solar Device Plans</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="ParabolicSolarCookerCalculator">Parabolic Solar Cooker Calculator</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Basic Solar Device Plans</span>
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="ParabolicSolarCookerHowTo">Box Solar Cooker</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="BuildingAParabolicSolarCooker.cshtml">Parabolic Solar Cooker</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/skel.min.js"></script>
        <script src="~/js/util.js"></script>
        <!--[if lte IE 8]><script src="~/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
